extends layout

block content
  .container
    .row
      .col-xs-12.col-md-8
        h1 Event summary 
        form
          .form-group
            input(type="text", placeholder="Event Title")
          .form-group
            textarea(placeholder="Additional Comments", name="name", rows="8", cols="40") 
          .form-group
            p Who
            p When
            P Where
        a.btn.btn-primary(style="margin-right: 10px", href="/admin/rkmarks/home") Send Event
        a.btn.btn-primary(href="/admin/rkmarks/create-event") Back  
        
        
