extends layout
block content
  .container
    .row
      .col-xs-6.col-md-4
        aside
          ul
            li
              a Events
            li
              a Calendars
      .col-xs-12.col-md-8
        form
          h3(style="text-align: center") Who will be attending?
            .form-group
              input.form-control(type="text")
          h3(style="text-align: center") When will it be?
            .form-group
              #eventDate.input-group.date
                input.form-control(type='text')
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
          h3(style="text-align: center") Where will it be?
            .form-group
              #locationField
                input#autocomplete.form-control(placeholder='Enter your address', onfocus='geolocate()', type='text')
        a.btn.btn-primary(style="margin-right: 10px", href="/admin/rkmarks/event-summary") Next
        a.btn.btn-primary(href="/admin/rkmarks/home") Back

        
