extends layout

block content
  .row
    .col-xs-12
      h1.text-center=title
      h2.text-center Sign Up
  .row
    .col-md-12
      form(name="signUpForm", action="/admin/rkmarks/home", method="get")
        .form-group
          label(for="emailInput") Email Address
          input#emailInput.form-control(name="userName", type='email')
        .form-group
          label(for="passwordInput") Password
          input#passwordInput.form-control(name="password", type='password')
        button#createUser.btn.btn-primary(type="submit") Sign Up
          
        p.text-center
          a(href="/sign-in") Already have an account?
