head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title= title
  link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel="stylesheet", href="/bootstrap/dist/css/bootstrap-theme.css")
  link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
  link(rel="stylesheet", href="/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")
  script(src="/jquery/dist/jquery.min.js")
  script(src="/moment/min/moment.min.js")
